In [ ]:
!pip install pandas requests openpyxl

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.32.3)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.5)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2024.8.30)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
!pip install googlemaps

Collecting googlemaps
  Downloading googlemaps-4.10.0.tar.gz (33 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: requests<3.0,>=2.20.0 in /usr/local/lib/python3.10/dist-packages (from googlemaps) (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2024.8.30)
Building wheels for collected packages: googlemaps
  Building wheel for googlemaps (setup.py) ... done
  Created wheel for googlemaps: filename=googlemaps-4.10.0-py3-none-any.whl size=40715 sha256=08900d42776462d6bfb230d8cd0de0649272e7e79ca3fef70fef84c3f4d65ad7
  Stored in directory: /root/.cache/pip/wheels/17/f8/79/999d5d37118fd35d7219ef57933eb9d09886c4c4503a800f84
Successfully built googlemaps
Installing collected packages: googlemaps
Successfully installed googlemaps-4.10.0

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import time
import googlemaps

In [ ]:
fire_data_path = r"/fire_data.csv"

fire_station_data_path = r"/fire-station-locations.csv"


# Read the CSV file into a DataFrame
df_fire_data = pd.read_csv(fire_data_path)
#df_fire_station_data = pd.read_csv(fire_station_data_path)

# Display the first few rows of the DataFrame
#df_fire_station_data.head()

<ipython-input-6-689696f85441>:7: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_fire_data = pd.read_csv(fire_data_path)

In [ ]:
df_fire_data.isna().sum()

_id                                                                  0
Area_of_Origin                                                    9002
Building_Status                                                  16062
Business_Impact                                                  16066
Civilian_Casualties                                               7133
Count_of_Persons_Rescued                                           223
Estimated_Dollar_Loss                                             8979
Estimated_Number_Of_Persons_Displaced                            16065
Exposures                                                        25418
Ext_agent_app_or_defer_time                                       9012
Extent_Of_Fire                                                   16066
Final_Incident_Type                                                  0
Fire_Alarm_System_Impact_on_Evacuation                           16065
Fire_Alarm_System_Operation                                      16065
Fire_Alarm_System_Presence                                       16065
Fire_Under_Control_Time                                           8956
Ignition_Source                                                   9002
Incident_Number                                                      0
Incident_Station_Area                                                1
Incident_Ward                                                      147
Initial_CAD_Event_Type                                               1
Intersection                                                         2
Last_TFS_Unit_Clear_Time                                             1
Latitude                                                             2
Level_Of_Origin                                                  16066
Longitude                                                            2
Material_First_Ignited                                            9033
Method_Of_Fire_Control                                            9006
Number_of_responding_apparatus                                     222
Number_of_responding_personnel                                     222
Possible_Cause                                                    9003
Property_Use                                                       224
Smoke_Alarm_at_Fire_Origin                                       16065
Smoke_Alarm_at_Fire_Origin_Alarm_Failure                         16065
Smoke_Alarm_at_Fire_Origin_Alarm_Type                            16065
Smoke_Alarm_Impact_on_Persons_Evacuating_Impact_on_Evacuation    16065
Smoke_Spread                                                     16066
Sprinkler_System_Operation                                       16065
Sprinkler_System_Presence                                        16065
Status_of_Fire_On_Arrival                                         9006
TFS_Alarm_Time                                                       0
TFS_Arrival_Time                                                     1
TFS_Firefighter_Casualties                                         222
dtype: int64

In [ ]:
df_fire_data

In [ ]:
# Keep only specified columns
df_fire_station_data = df_fire_station_data[['ADDRESS', 'MUNICIPALITY_NAME', 'STATION']]

In [ ]:
# Removing all rows where the fire station number is 0 since those locations have closed

df_fire_station_data = df_fire_station_data[df_fire_station_data['STATION'] != 0]

In [ ]:
df_fire_data['Incident_Station_Area'].value_counts()

Incident_Station_Area
426                               521
142                               406
325                               395
313                               379
411                               377
                                 ...
335                                15
335                                 6
424                                 3
                                    2
144                                 1
Name: count, Length: 254, dtype: int64

Feature Engineering the Response Time

In [ ]:
df_fire_data['TFS_Alarm_Time'] = pd.to_datetime(df_fire_data['TFS_Alarm_Time'])
df_fire_data['TFS_Arrival_Time'] = pd.to_datetime(df_fire_data['TFS_Arrival_Time'])

# Calculate the response time in seconds
df_fire_data['Response_Time_Seconds'] = (df_fire_data['TFS_Arrival_Time'] - df_fire_data['TFS_Alarm_Time']).dt.total_seconds()

# Calculate the average response time by Incident_Station_Area
average_response = df_fire_data.groupby('Incident_Station_Area')['Response_Time_Seconds'].mean().reset_index()

# Rename the average column
average_response.rename(columns={'Response_Time_Seconds': 'Average_Response_Time'}, inplace=True)

# Merge the average response times back into the original DataFrame
df_fire_data = pd.merge(df_fire_data, average_response, on='Incident_Station_Area', how='left')

In [ ]:
df_fire_data['Response_Time_Seconds'].head(20)

0     342.0
1     288.0
2     410.0
3     268.0
4     336.0
5     238.0
6     352.0
7     421.0
8     210.0
9     329.0
10    222.0
11    231.0
12    187.0
13    235.0
14    342.0
15    192.0
16    304.0
17    372.0
18    324.0
19    282.0
Name: Response_Time_Seconds, dtype: float64

In [ ]:
df_fire_data['Average_Response_Time'].head(20)

0     368.456274
1     374.768116
2     295.108434
3     325.475610
4     341.164794
5     361.270270
6     343.941176
7     320.628906
8     276.100000
9     287.614203
10    310.924242
11    238.972152
12    301.255556
13    302.309735
14    323.891566
15    340.683616
16    310.924242
17    374.768116
18    302.309735
19    301.255556
Name: Average_Response_Time, dtype: float64

# Removing All Other Columns for Now

---

In [ ]:
df_fire_data.head()

,_id,Area_of_Origin,Building_Status,Business_Impact,Civilian_Casualties,Count_of_Persons_Rescued,Estimated_Dollar_Loss,Estimated_Number_Of_Persons_Displaced,Exposures,Ext_agent_app_or_defer_time,...,Smoke_Alarm_Impact_on_Persons_Evacuating_Impact_on_Evacuation,Smoke_Spread,Sprinkler_System_Operation,Sprinkler_System_Presence,Status_of_Fire_On_Arrival,TFS_Alarm_Time,TFS_Arrival_Time,TFS_Firefighter_Casualties,Response_Time_Seconds,Average_Response_Time
0,3462493,81 - Engine Area,NaN,NaN,0.0,0.0,15000.0,NaN,NaN,2018-02-24T21:12:00,...,NaN,NaN,NaN,NaN,"7 - Fully involved (total structure, vehicle, ...",2018-02-24 21:04:29,2018-02-24 21:10:11,0.0,342.0,368.456274
1,3462494,"75 - Trash, rubbish area (outside)",NaN,NaN,0.0,0.0,50.0,NaN,NaN,2018-02-24T21:29:42,...,NaN,NaN,NaN,NaN,2 - Fire with no evidence from street,2018-02-24 21:24:43,2018-02-24 21:29:31,0.0,288.0,374.768116
2,3462495,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2018-02-25 13:29:59,2018-02-25 13:36:49,0.0,410.0,295.108434
3,3462496,"75 - Trash, rubbish area (outside)",01 - Normal (no change),1 - No business interruption,0.0,0.0,0.0,0.0,NaN,2018-02-25T14:19:25,...,"8 - Not applicable: No alarm, no persons present",99 - Undetermined,8 - Not applicable - no sprinkler system present,9 - Undetermined,3 - Fire with smoke showing only - including v...,2018-02-25 14:13:39,2018-02-25 14:18:07,0.0,268.0,325.475610
4,3462497,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2018-02-25 18:20:43,2018-02-25 18:26:19,0.0,336.0,341.164794

In [ ]:
# Merge the two dataframes
df_merged = pd.merge(df_fire_data, df_fire_station_data, left_on='Incident_Station_Area', right_on='STATION', how='inner')

# Display the merged dataframe
df_merged.head()

,_id,Area_of_Origin,Building_Status,Business_Impact,Civilian_Casualties,Count_of_Persons_Rescued,Estimated_Dollar_Loss,Estimated_Number_Of_Persons_Displaced,Exposures,Ext_agent_app_or_defer_time,...,Sprinkler_System_Presence,Status_of_Fire_On_Arrival,TFS_Alarm_Time,TFS_Arrival_Time,TFS_Firefighter_Casualties,Response_Time_Seconds,Average_Response_Time,ADDRESS,MUNICIPALITY_NAME,STATION
0,3462493,81 - Engine Area,NaN,NaN,0.0,0.0,15000.0,NaN,NaN,2018-02-24T21:12:00,...,NaN,"7 - Fully involved (total structure, vehicle, ...",2018-02-24 21:04:29,2018-02-24 21:10:11,0.0,342.0,368.456274,947 Martin Grove Rd,Etobicoke,441
1,3462494,"75 - Trash, rubbish area (outside)",NaN,NaN,0.0,0.0,50.0,NaN,NaN,2018-02-24T21:29:42,...,NaN,2 - Fire with no evidence from street,2018-02-24 21:24:43,2018-02-24 21:29:31,0.0,288.0,374.768116,255 Esther Shiner Blvd,North York,116
2,3462495,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,2018-02-25 13:29:59,2018-02-25 13:36:49,0.0,410.0,295.108434,2575 Eglinton Ave E,Scarborough,221
3,3462496,"75 - Trash, rubbish area (outside)",01 - Normal (no change),1 - No business interruption,0.0,0.0,0.0,0.0,NaN,2018-02-25T14:19:25,...,9 - Undetermined,3 - Fire with smoke showing only - including v...,2018-02-25 14:13:39,2018-02-25 14:18:07,0.0,268.0,325.475610,1505 Lawrence Ave W,North York,133
4,3462497,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,2018-02-25 18:20:43,2018-02-25 18:26:19,0.0,336.0,341.164794,476 Lawrence Ave W,North York,132

In [ ]:
#combining the address

df_merged['Combined_Address'] = df_merged['ADDRESS'] + ', ' + df_merged['MUNICIPALITY_NAME']

In [ ]:
# Display the final dataframe
df_merged.head()

,_id,Area_of_Origin,Building_Status,Business_Impact,Civilian_Casualties,Count_of_Persons_Rescued,Estimated_Dollar_Loss,Estimated_Number_Of_Persons_Displaced,Exposures,Ext_agent_app_or_defer_time,...,Status_of_Fire_On_Arrival,TFS_Alarm_Time,TFS_Arrival_Time,TFS_Firefighter_Casualties,Response_Time_Seconds,Average_Response_Time,ADDRESS,MUNICIPALITY_NAME,STATION,Combined_Address
0,3462493,81 - Engine Area,NaN,NaN,0.0,0.0,15000.0,NaN,NaN,2018-02-24T21:12:00,...,"7 - Fully involved (total structure, vehicle, ...",2018-02-24 21:04:29,2018-02-24 21:10:11,0.0,342.0,368.456274,947 Martin Grove Rd,Etobicoke,441,"947 Martin Grove Rd, Etobicoke"
1,3462494,"75 - Trash, rubbish area (outside)",NaN,NaN,0.0,0.0,50.0,NaN,NaN,2018-02-24T21:29:42,...,2 - Fire with no evidence from street,2018-02-24 21:24:43,2018-02-24 21:29:31,0.0,288.0,374.768116,255 Esther Shiner Blvd,North York,116,"255 Esther Shiner Blvd, North York"
2,3462495,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,2018-02-25 13:29:59,2018-02-25 13:36:49,0.0,410.0,295.108434,2575 Eglinton Ave E,Scarborough,221,"2575 Eglinton Ave E, Scarborough"
3,3462496,"75 - Trash, rubbish area (outside)",01 - Normal (no change),1 - No business interruption,0.0,0.0,0.0,0.0,NaN,2018-02-25T14:19:25,...,3 - Fire with smoke showing only - including v...,2018-02-25 14:13:39,2018-02-25 14:18:07,0.0,268.0,325.475610,1505 Lawrence Ave W,North York,133,"1505 Lawrence Ave W, North York"
4,3462497,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,2018-02-25 18:20:43,2018-02-25 18:26:19,0.0,336.0,341.164794,476 Lawrence Ave W,North York,132,"476 Lawrence Ave W, North York"

In [ ]:

gmaps = googlemaps.Client(key='AIzaSyBMltDo95gxk_UzbRwXoQCuOsxxPYJKRz0')

def get_distance(row):
    try:
        # Geocode the combined address
        geocode_result = gmaps.geocode(row['Combined_Address'])
        if geocode_result:
            address_lat = geocode_result[0]['geometry']['location']['lat']
            address_lng = geocode_result[0]['geometry']['location']['lng']

            # Calculate the distance matrix
            distance_matrix = gmaps.distance_matrix(
                origins=(row['Latitude'], row['Longitude']),
                destinations=(address_lat, address_lng),
                mode="driving",  # You can change the mode if needed
                units="metric"
            )

            if distance_matrix['rows'][0]['elements'][0]['status'] == 'OK':
                distance = distance_matrix['rows'][0]['elements'][0]['distance']['value']
                return distance
            else:
                print(f"Error getting distance for {row['Combined_Address']}: {distance_matrix['rows'][0]['elements'][0]['status']}")
                return None  # Or another suitable default value
        else:
            print(f"Geocoding failed for {row['Combined_Address']}")
            return None
    except Exception as e:
        print(f"An error occurred: {e}")
        return None

df_merged['distance_to_nearest_firestation'] = df_merged.apply(get_distance, axis=1)
print(df_merged.head())

       _id                      Area_of_Origin          Building_Status  \
0  3462493                    81 - Engine Area                      NaN
1  3462494  75 - Trash, rubbish area (outside)                      NaN
2  3462495                                 NaN                      NaN
3  3462496  75 - Trash, rubbish area (outside)  01 - Normal (no change)
4  3462497                                 NaN                      NaN

                Business_Impact  Civilian_Casualties  \
0                           NaN                  0.0
1                           NaN                  0.0
2                           NaN                  0.0
3  1 - No business interruption                  0.0
4                           NaN                  0.0

   Count_of_Persons_Rescued  Estimated_Dollar_Loss  \
0                       0.0                15000.0
1                       0.0                   50.0
2                       0.0                    NaN
3                       0.0                    0.0
4                       0.0                    NaN

   Estimated_Number_Of_Persons_Displaced  Exposures  \
0                                    NaN        NaN
1                                    NaN        NaN
2                                    NaN        NaN
3                                    0.0        NaN
4                                    NaN        NaN

  Ext_agent_app_or_defer_time  ...      TFS_Alarm_Time    TFS_Arrival_Time  \
0         2018-02-24T21:12:00  ... 2018-02-24 21:04:29 2018-02-24 21:10:11
1         2018-02-24T21:29:42  ... 2018-02-24 21:24:43 2018-02-24 21:29:31
2                         NaN  ... 2018-02-25 13:29:59 2018-02-25 13:36:49
3         2018-02-25T14:19:25  ... 2018-02-25 14:13:39 2018-02-25 14:18:07
4                         NaN  ... 2018-02-25 18:20:43 2018-02-25 18:26:19

  TFS_Firefighter_Casualties Response_Time_Seconds Average_Response_Time  \
0                        0.0                 342.0            368.456274
1                        0.0                 288.0            374.768116
2                        0.0                 410.0            295.108434
3                        0.0                 268.0            325.475610
4                        0.0                 336.0            341.164794

                  ADDRESS MUNICIPALITY_NAME STATION  \
0     947 Martin Grove Rd         Etobicoke     441
1  255 Esther Shiner Blvd        North York     116
2     2575 Eglinton Ave E       Scarborough     221
3     1505 Lawrence Ave W        North York     133
4      476 Lawrence Ave W        North York     132

                     Combined_Address  distance_to_nearest_firestation
0      947 Martin Grove Rd, Etobicoke                             3454
1  255 Esther Shiner Blvd, North York                             2283
2    2575 Eglinton Ave E, Scarborough                             1572
3     1505 Lawrence Ave W, North York                              412
4      476 Lawrence Ave W, North York                             1899

[5 rows x 50 columns]

In [ ]:
df_merged.head()

,_id,Area_of_Origin,Building_Status,Business_Impact,Civilian_Casualties,Count_of_Persons_Rescued,Estimated_Dollar_Loss,Estimated_Number_Of_Persons_Displaced,Exposures,Ext_agent_app_or_defer_time,...,TFS_Alarm_Time,TFS_Arrival_Time,TFS_Firefighter_Casualties,Response_Time_Seconds,Average_Response_Time,ADDRESS,MUNICIPALITY_NAME,STATION,Combined_Address,distance_to_nearest_firestation
0,3462493,81 - Engine Area,NaN,NaN,0.0,0.0,15000.0,NaN,NaN,2018-02-24T21:12:00,...,2018-02-24 21:04:29,2018-02-24 21:10:11,0.0,342.0,368.456274,947 Martin Grove Rd,Etobicoke,441,"947 Martin Grove Rd, Etobicoke",3454
1,3462494,"75 - Trash, rubbish area (outside)",NaN,NaN,0.0,0.0,50.0,NaN,NaN,2018-02-24T21:29:42,...,2018-02-24 21:24:43,2018-02-24 21:29:31,0.0,288.0,374.768116,255 Esther Shiner Blvd,North York,116,"255 Esther Shiner Blvd, North York",2283
2,3462495,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,2018-02-25 13:29:59,2018-02-25 13:36:49,0.0,410.0,295.108434,2575 Eglinton Ave E,Scarborough,221,"2575 Eglinton Ave E, Scarborough",1572
3,3462496,"75 - Trash, rubbish area (outside)",01 - Normal (no change),1 - No business interruption,0.0,0.0,0.0,0.0,NaN,2018-02-25T14:19:25,...,2018-02-25 14:13:39,2018-02-25 14:18:07,0.0,268.0,325.475610,1505 Lawrence Ave W,North York,133,"1505 Lawrence Ave W, North York",412
4,3462497,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,2018-02-25 18:20:43,2018-02-25 18:26:19,0.0,336.0,341.164794,476 Lawrence Ave W,North York,132,"476 Lawrence Ave W, North York",1899

In [ ]:
# Save the DataFrame to a CSV file
df_merged.to_csv('/Google_Maps_Api_distance_output.csv', index=False)